debug:
  enabled: true
  log_reads: true
  summary_every_s: 20
mqtt:
  host: 127.0.0.1
  port: 1883
  base_topic: /devices
  qos: 0
  retain: false
  client_id: uspd-modbus-gw
db:
  url: sqlite:///./data/data.db
alerts:
  insecure_tls: false
  http_timeout_s: 10
history:
  max_rows: 50000
  ttl_days: 15
  cleanup_every: 500
backups:
  dir: ./data/backups
  keep: 10
serial:
  echo: false
addressing:
  normalize: false
service:
  unit: agent.service
  restart_cmd: ''
andromeda:
  restart_cmd: /usr/local/bin/restart-andromeda.sh
current:
  touch_read_every_s: 3
  precision_decimals: 0
polling:
  interval_ms: 1000
  jitter_ms: 120
  backoff_ms: 500
  max_errors_before_backoff: 5
  port_retry_backoff_s: 5
  batch_read:
    enabled: true
    max_bits: 64
    max_registers: 60
lines:
- name: line1
  device: COM4
  baudrate: 115200
  timeout: 0.1
  parity: N
  stopbits: 1
  port_retry_backoff_s: 1
  rs485_rts_toggle: false
  nodes:
  - unit_id: 224
    params:
    - name: реле1
      register_type: coil
      address: 0
      words: 1
      data_type: u16
      word_order: AB
      scale: 1
      mode: rw
      publish_mode: on_change_and_interval
      publish_interval_s: 100
      topic: null
      step: null
      hysteresis: null
    - name: реле2
      register_type: coil
      address: 1
      words: 1
      data_type: u16
      word_order: AB
      scale: 1
      mode: rw
      publish_mode: on_change_and_interval
      publish_interval_s: 100
      topic: null
      step: null
      hysteresis: null
    - name: реле3
      register_type: coil
      address: 2
      words: 1
      data_type: u16
      word_order: AB
      scale: 1
      mode: rw
      publish_mode: on_change_and_interval
      publish_interval_s: 100
      topic: null
      step: null
      hysteresis: null
    - name: реле4
      register_type: coil
      address: 3
      words: 1
      data_type: u16
      word_order: AB
      scale: 1
      mode: rw
      publish_mode: on_change_and_interval
      publish_interval_s: 100
      topic: null
      step: null
      hysteresis: null
    - name: реле5
      register_type: coil
      address: 4
      words: 1
      data_type: u16
      word_order: AB
      scale: 1
      mode: rw
      publish_mode: on_change_and_interval
      publish_interval_s: 100
      topic: null
      step: 1
      hysteresis: 1
    - name: реле6
      register_type: coil
      address: 5
      words: 1
      data_type: u16
      word_order: AB
      scale: 1
      mode: rw
      publish_mode: on_change_and_interval
      publish_interval_s: 100
      topic: null
      step: null
      hysteresis: null
    object: unit180
    num_object: null
